
body {
  font-family: sans-serif;
}

h1 {
  font-size:7vw;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  margin:auto;
  padding:auto;
  text-align: center;
}

h3 {
  text-align: center;
  margin:auto;
  padding:auto;
  font-size:2vw;
}

.horizontal-nav li {
    list-style-type: none;
    display: inline;
    text-align: center;
    margin:5vw; 
    max-width: 100%;
    font-size:1vw;
}

 a {
   text-decoration: none;
    color: black;
    padding:1%;
    font-size:1vw;
 }
    
    nav { 
      text-align: center;
      padding: .5vw;
      margin-top: 3vw;
      margin-bottom: 3vw;
      background-color: coral;
    }
    
    a:hover {
      color: white;
      transition-duration:.3s;
    }
    
    .flex-container {
      display: flex;
      flex-direction: row;
      font-family:Impact, 'Arial Narrow Bold', sans-serif;
    }
    
    
    #flex-item-1 /*content*/{
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }
    
    #flex-item-2 /*content*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }
    
    #flex-item-3 /*content*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }

#flex-item-4 /*content*/{
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }
    
    #flex-item-5 /*content*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }
    
    #flex-item-6 /*Bee Mug*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }

    #flex-item-7 /*Bee Mug*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }

    #flex-item-8 /*Bee Mug*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color: coral;
      background-image: url("");
      background-size: 100%;
    }

    #flex-item-9 /*Bee Mug*/ {
      width: 30%;
      padding:1vw;
      margin: 5vw;
      background-color:;
      background-image: url("");
      background-size: 100%;
    }
    
    
    #flex-item-5:hover {
      background-color: white;
      transition-duration:.3s;
    }

 #flex-item-6:hover {
	    background-image: url("") ;
	    background-repeat: ;
      transition-duration:.3s;
    }

  #flex-item-10 /*MugPic*/ {
      width: 40%;
      margin-left: 30vw;
      background-color: coral;
    }
    
    footer {
        margin-top: 10%;
        padding:6vw;
        text-align: center;
        font-size:50%; 
        background-color: coral;
    }
    