body {
  font-family: sans-serif;
}

h1 {
  font-size:7vw;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  margin:auto;
  padding:auto;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  text-align: center;
  margin:auto;
  padding:auto;
  font-size:2vw;
}

.horizontal-nav li {
    list-style-type: none;
    display: inline;
    text-align: center;
    margin:5vw; 
    max-width: 100%;
    font-size:1vw;
    font-weight: bold;
}

 a {
    text-decoration: none;
    color: black;
    padding:1%;
    font-size:1vw;
 }
    
    nav { 
      text-align: center;
      padding: .5vw;
      margin-top: 3vw;
      margin-bottom: 3vw;
      background-color: coral;
    }
    
    a:hover {
      color: white;
      transition-duration:.3s;
    }
    
    .flex-container {
      display: flex;
      flex-direction: row;
      font-family:;
    }
    
   
    #flex-item-1 /*Blurb*/ {
      width: 100%;
      padding:1vw;
      margin: 2vw;
      color: black;
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      color: coral;
      font-size:2.5vw;
    }

    #flex-item-2 /*Blurb 2*/ {
        width: 100%;
        padding:1vw;
        margin: 3vw;
        color: black;
        text-align: center;
        font-size:1.5vw; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
      }

      #flex-item-3 /*email*/ {
        font-size:4vw;
        font-family: Arial, Helvetica, sans-serif;
        margin-top:3vw;
        padding:0vw;
        text-align: center;
        color: black;
        width: 100%;
      }

    #flex-item-4 /*Mug-pic*/{
        width: 25%;
        margin: 5vw;
      }
      
    
      footer {
        margin-top: 2%;
        padding:3vw;
        text-align: center;
        font-size:80%; 
        background-color: coral;
    }